.about-page {
  padding: 2rem;
}

.about-page p {
  max-width: 700px;
  margin-bottom: 20px;
}

.about-image-placeholder {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 4 / 3;
  background-color: rgb(244, 149, 133);
  margin: 20px 0;
}
