.exhibition-essay {
  background-color: #ffefa7;
  padding: 1.5rem 2rem;
  color: black;
}

@media (min-width: 1200px) {
  .exhibition-essay {
    margin: 4rem;
  }
}

.exhibition-essay p {
  margin-bottom: 1.5rem;
}

.essay-attribution {
  font-style: italic;
}
