.gallery-image-vert {
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
}

.gallery-image-trio {
  width: 33%;
  padding: 8px;
  box-sizing: border-box;
}

.gallery-image {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.artist-info {
  padding: 8px;
}

.exhibitions-page {
  padding: 2rem;
}

.exhibition-header {
  margin: 20px 0;
}

.upcoming,
.previous .current {
  margin: 30px 0;
}

.poster-image {
  width: 100%;
  padding: 20px;
}

.previous-posters {
  display: flex;
  flex-wrap: wrap;
}

.exhibition-section {
  width: 400px;
  box-sizing: border-box;
}

.exhibition-description {
  margin-top: 30px;
  margin-bottom: 30px;
}

.artist-name {
  font-size: large;
}

.title-of-work {
  font-style: italic;
  font-size: medium;
}
.medium {
  font-size: small;
}

.image-in-group {
  width: 100%;
}

.exhibition-image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.open-call-poster {
  width: 40%;
  min-width: 400px;
}

.open-call {
  display: flex;
}

.artist-info-double {
  display: flex;
  justify-content: space-between;
}
