.submission-section {
  margin: 20px 0;
  padding: 20px;
  background-color: blanchedalmond;
  border-radius: 8px;
}

@media only screen and (max-width: 480px) {
  .exhibition-image-gallery {
    display: block;
  }
  .gallery-image-vert {
    width: 100%;
  }
}
