.submission-section {
  margin: 20px 0;
  padding: 20px;
  background-color: blanchedalmond;
  border-radius: 8px;
}

#secret-textarea {
  width: 100%;
  max-width: 600px;
  background-color: blanchedalmond;
  font-size: 1rem;
}

#form-description > p {
  margin: 20px 0;
  font-size: 1rem;
  max-width: 800px;
}

.secret-submit-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: rgb(204, 204, 255);
  border: 1px solid black;
  border-radius: 8px;
}

.secret-submit-button:disabled {
  background-color: rgb(233, 233, 246);
  color: grey;
}

form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

label {
  font-size: 1.5rem;
}

.extra-details {
  font-size: 1rem;
}

@media only screen and (max-width: 480px) {
  .exhibition-image-gallery {
    display: block;
  }
  .gallery-image-vert {
    width: 100%;
  }
}
